<script src="{{ .Site.BaseURL}}js/map.js"></script>
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css" />
{{ with .Get "url" }}
    {{ $url := .}}
    {{ $place := getJSON $url}}
    <div id="map"> </div>
    <script>
        function initMap() {

           var map = addMap({{$place.lat}}, {{$place.lon}}, {{$place.zoom}}, 'map')

            {{ range $place.markers }}{{ $position := .}}
    
                addMarker({{$position.lat}}, {{$position.lon}}, map)

            {{ end }}

        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ $.Site.Params.googleMapsApiKey }}&callback=initMap"
    async defer></script>

{{ end }}